/* CSS for adding content example */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  margin: 0px;
  padding: 0px;
  color:white;
  background-color: #797E8C;

}
h1{
  font-family: "Raleway", sans-serif;
}
input {
    width: 50%;
    font-family: "Open Sans", sans-serif;

}

input[type=text]:focus {
    border: 3px solid #363739;


}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #F2D8D5;
    border: none;
    color: #363739;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;

.zodiac-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;
  align-content: center;
  order: <1>;*/
  }

.form-wrapper{
  display:block;
  flex-grow: <1>;
  flex-shrink: <1>;
  flex-basis: auto;
  align-self: center;
  flex-direction: column;
  margin: auto;
  width:35rem;
  height:30rem;
  /*display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-grow: <1>;
  flex-shrink: <1>;
  justify-content: center;
  align-content: center;
  align-items: center;
  order: <2>;*/

}

  /*max-width: 30rem;
  margin: 1.6rem auto;*/
}

#displayMsg{
font-family: "Open Sans", sans-serif;
}
