*{box-sizing: border-box;}

@font-face {
    font-family: chalkBoardFont;
    src: url(../assets/kg_second_chances/KGSecondChancesSketch.ttf)
}

body{
  color:#1F2021;
  /*background: linear-gradient(rgba(0, 112, 66, .3), rgba(0, 112, 66, .3)),
                rgba(0,112,66, .3) url(../assets/background-photo.gif) no-repeat center;*/
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)),
                rgba(0,0,0,.1) url(../assets/background-photo.gif) no-repeat center;

  font-family: 'Arial', sans-serif;
  font-size: 100%;
}

.row {
  overflow: auto;
  margin-bottom: 16px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  /*background-color: rgba(45, 157, 192, 0.2);
  border: 1px solid #2d9dc0;
  padding: 16px;*/
  width: 100%;

}

@media screen and (min-width: 800px) {
  [class*="col-"] {
    /*background-color: rgba(242, 33, 56, 0.2);
    border: 1px solid rgba(249, 38, 114, 1);*/
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }
}

@media screen and (max-width:799px), handheld and (orientation: portrait) {
  @font-face {
      font-family: chalkBoardFont;
      src: url(../assets/kg_second_chances/KGSecondChancesSolid.ttf)
  }
  #iPhoneUI{
    padding-left:22% !important;
    padding-right:24% !important;
  }
  #secret-menu-div{
    color:white;
    margin-left:22% !important;
    margin-right:22% !important;
  }
}

#iPhoneUI{
  padding-top: 1%;
  padding-left: 3%;
}

#screen {
  z-index: 100;
  opacity: 1;
  transition: 3s opacity;
}

.h1-wrapper{
  background-color: #007042;
  height:1rem;
}


#h2-wrapper{
  display:flex;
  align-content: flex-start;
  text-align:left;
  margin-top: 1rem;
}

#sbuxSiren{
  display: flex;
  width: 5rem;
  height: 6rem;
  margin-left: .25rem;
  padding:0;
}

#thankYou{
  display:none;
}

#how-to{
  color:#1F2021 !important;
  text-align:center;
  margin:0rem .5rem 1rem .5rem;
  max-width: 700px;
  color: #1F2021;
  line-height: 1.5;
}

h2{
  color: #1F2021;
  display: flex;
  flex-wrap: wrap;
  font-family:'Arial', sans-serif;
  font-size: 175%;
  margin: 2rem 0 0 2rem;
  font-weight: normal;
}

form {
  text-align: center;
  color: #1F2021;
  margin-top: 2rem;

}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .form-text {
  color: #007042;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  /*text-transform: uppercase;*/
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #007042;
  color: #1F2021;
  font-size: 24px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

label #bday{
  color:transparent;
}

label input #bday:focus{
  color:#1F2021;
}

label input #birthDay:active{
  color:#1F2021;
}

label input:focus {
  max-width: 100%;
  width: 400px;
  border-bottom: 2px solid #00C977;
}
label input:focus + .form-text {
  color: #007042;
  font-size: 120%;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .form-text {
  font-size: 120%;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}


input[type=button], input[type=submit], input[type=reset] #submit {
    background-color: #007042;
    border: none;
    border-radius: .625rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 40%;

}
input[type=submit]:hover{
  background-color:#003620;
}


#receiptHeader{
  display:none;
  color: #1F2021;
  font-family: monospace;
}

#displayMsg{
  display: none;
  text-align: center;
  padding: 2rem;
  line-height: 1.5;
  color:#1F2021;
  transition: opacity 2s ease-in-out;
}


#orderAgain{
  background-color: #007042;
  border: none;
  border-radius: .625rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 30%;
}
#orderAgain:hover{
background-color:#003620;
}
#home:hover{
cursor: pointer !important;
  }

h3{
  color:white;
  text-align:center;
  font-family: 'chalkBoardFont', sans-serif;
  font-size: 150%;
  font-weight:lighter;
}

li:hover{
text-decoration: underline;
color: #A4AAAD;
cursor: pointer;
}
#secret-menu-div{
margin-top: 20%;
margin-right: 7%;
border-style: solid;
border-color:black;
border-width: 1rem;
-webkit-transition: background-image 1s ease-in-out;
transition: background-image 1s ease-in-out;
background-size: cover;
background-repeat: no-repeat;
/*min-width: 20.625rem;
max-width: 40rem;*/
}

.secret-menu-default {
  background-image: url(../assets/Black-Chalkboard-Texture.gif) !important;

}

.secret-menu-0 {
  background-image: url(../assets/tall.png) !important;

}
.secret-menu-1 {
  background-image: url(../assets/westphal.png) !important;

}
.secret-menu-2 {
  background-image: url(../assets/hateCoffee.png) !important;
}
.secret-menu-3 {
  background-image: url(../assets/smokachino.png) !important;
}
.secret-menu-4 {
  background-image: url(../assets/overIt.png) !important;
}
.secret-menu-5 {
  background-image: url(../assets/twoBuckChuck.png) !important;
}
.secret-menu-6 {
  background-image: url(../assets/vanilla.png) !important;
}
.secret-menu-7 {
  background-image: url(../assets/tea.png) !important;
}
.secret-menu-8 {
  background-image: url(../assets/lateLatte.png) !important;
}
.secret-menu-9 {
  background-image: url(../assets/unInsta.png) !important;
}
.secret-menu-10 {
  background-image: url(../assets/arianaGrande.png) !important;
}
.secret-menu-11 {
  background-image: url(../assets/vegan.png) !important;
}
.secret-menu{
  color: white;
  font-family:'chalkBoardFont', sans-serif;
  font-weight: 100;
  list-style: none;
  justify-content: space-between;
  margin: auto;
  padding: 1rem 1rem;
}

li{
  line-height:2rem;
}

@media screen and (min-width:70rem){
  .menu-break{
    display:none;
  }
}
div.blank-menu {
  margin: 12px;
  background-color: #333333;
  /* transition on change */
  opacity: 1;
  transition: 3s opacity;
}

div.blank-menu {
  opacity: 0;
  transition: none;
}

#img-wrapper {
  background-color: #cca831;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

#graphics-box{
  position: relative;
  width: 512px;
  height: 512px;
  margin: 0 auto 10px;
}

#graphics-box img{
  opacity: 0;
  position:absolute;
  top: 0;
  left: 0;
  transition: opacity 2s ease-in-out;
}

#graphics-box img.display{
  opacity: 1;
}

.hide {
  display: none;
}
