*{box-sizing: border-box;}
body{
  color:white;
  background-color:white;
  font-family: 'Hind', sans-serif;
  /*font-family: 'PT Sans Narrow', sans-serif;*/
  font-size: 100%;
}
.h1-wrapper{
  background-color: #007042;
}
h1{
  display: flex;
  justify-content: center;
  font-family:'Work Sans', sans-serif;
  font-size: 200%;
  margin-top: 0;
}
#sbuxSiren{
  display: flex;
  justify-content: center;
  /*width: 5rem;
  height: 5rem;*/
  margin-top: .5rem;
  padding:0;
}
#displayMsg{
  display: flex;
  flex-wrap: wrap;
  color:black;
  text-align: center;
  padding: 2rem;
  line-height: 1.5;
  color:#2E2F30;
}
#how-to{
  color:black;
  text-align:center;
  margin-bottom:2rem;
  color: #2E2F30;
  line-height: 1.5;
}
img{
  display:block;
  justify-content: center;
  margin:auto;
  padding: 0;
}
.
h2{
  display: flex;
  justify-content:center;
  font-family: 'Hind', sans-serif;
  font-size: 150%;
  font-weight:lighter;
}

h3{
  color: black;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  font-family:'Work Sans', sans-serif;
  font-size: 150%;
  margin: none;
}
li:hover{
text-decoration: underline;
color: #A4AAAD;
cursor: pointer;
}
.secret-menu-div{
display: flex;
flex-wrap: nowrap;
align-content: center;
align-items: center;
float: left;
margin:auto;
padding; 0;
width: 50%;
height:25%;
/*height: auto;*/
border-style: solid;
border-color:black;
border-width: 1rem;
background-color: #363739;
min-width: 20.625rem;
}

.secret-menu{
  font-family:'Work Sans', sans-serif;
  display: block;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  padding: 1rem 2rem;
  width: 50%;
  height: 25%;
  /*height: auto;*/
  min-width: 20.625rem;


}

li{
  line-height:2rem;
}

@media screen and (min-width:70rem){
  .menu-break{
    display:none;
  }

}
@media screen and (max-width:40rem){
  .form-div{
    width:100%;
    float: center !important;
    margin-right: 25%;
  }
  form{
    width:100%;
    float: center !important;
    margin-right: 25%;
  }
  .secret-menu-div{
    width: 100%;
  }
  .secret-menu{
    width:100%;
  }
}
.form-div{
  display:block;
  float: right;
  flex-flow: column;
  flex-wrap:nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  /*padding: 2rem;*/
  width: 100%;
  height: auto;
  text-align: center;
  max-width: 31.25rem;
}
form{
  display: block;
  float: right;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-around;
  width: 50%;
  margin-top:5%;
  max-width: 31.25rem;
}
p.form-text{
  display: block;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
  text-align: center;
  color: black;
  width: 50%;
  margin-left:10%;
  padding: 0;
  /*max-width: 31.25rem;*/


}
input {
    width: 50%;
    font-family: "Open Sans", sans-serif;
    margin:0;

}

input[type=text]:focus {
    border: 3px solid #363739;
}

input[type=date]:focus{
border: 3px solid #363739;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #007042;
    border: none;
    border-radius: .625rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer{
  margin-top:2rem;
}

/*.form-div{
  width: 14rem;
  height:24rem;
  border-style:solid;
  border-radius: 1.25rem;
  border-width:.00625rem;
  border-color:grey;
}*/
